<mat-accordion class="example-headers-align" *ngIf="filterForm" multi>
    <form [formGroup]="filterForm">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Sort By</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput />
    </mat-form-field> -->

    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <mat-select formControlName="sort_by">
        <mat-option value="popularity.asc">Popular Ascending</mat-option>
        <mat-option value="popularity.desc">Popular Descending</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>   -->
  </mat-expansion-panel>
</form>
</mat-accordion>
