<a *ngIf="details" (click)="onSelect(details.id)">
  <mat-card class="movie-card">
    <mat-card-header class="movie-card__header-top">
      <mat-card-title>{{ details.name || details.title }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ imageBaseUrl + details.poster_path }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-footer
      class="movie-card-footer"
      [ngClass]="{
        'high-rating': details.vote_average >= 8,
        'mid-rating': details.vote_average < 8 && details.vote_average >= 7,
        'low-rating': details.vote_average < 7
      }"
    >
      <span>{{ details.vote_average }}</span>
    </mat-card-footer>
  </mat-card>
</a>
