.hero {
  padding-block: 2rem;
  width: min(95%, 81.25rem);
  margin-inline: auto;
  background-image: url("/assets/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  gap: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-heading {
    // outline: 1px solid yellow;
  }
  &-search-box {
    // border: 1px solid yellow;
  }
}

.trending {
  width: min(95%, 81.25rem);
  // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem 0;

  &-heading {
    padding: 10px;
    font-size: 24px;
  }

  &-movies {
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin: 5px;
    }

    &__more {
      color: #032541;
      font-size: 30px;
    }
  }
}
