// src/styles.scss
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.content {
  border: 1px solid orange;
  min-height: calc(100vh - 64px);
}