.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    display: flex;
    justify-content: center;
    padding: 5px;

    &__logo {
      width: 10rem;
      display: flex;
      align-items: center;
    }

    &__heading {
      font-size: 24px;
      margin-left: 5px;
    }
  }
  &-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;

    &__item {
      padding: 10px 5px;
      font-size: 18px;
      margin: 0 10px;
      cursor: pointer;

    
    }
  }
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}